.highlight circle {
    cursor: pointer;
    r: 5pt;
    fill: lightblue;
    transition: r 200ms
}

.highlight circle:hover {
    r: 7pt;
}

.highlight .label {
    background: white;
    display: inline-block;
    width: 200px;
    pointer-events: none;
    font-size: 12px;
    padding: 3px 5px;
    border: 1px solid #333;
    border-radius: 2px;
}

.label-title {
    font-weight: bold;
}


