.point-group .point {
    transition: all 200ms ease-in-out;
}

.point-group .point circle {
    r: 2pt;
}

.point-group .point-appear circle {
    r: 0pt;
}

.point-group .point-appear-done circle {
    r: 2pt;
    transition: r 300ms ease-in-out;
}

.point-group .point-enter circle {
    r: 0pt;
}

.point-group .point-enter-active circle {
    r: 2pt;
    transition: r 300ms ease-in-out;
}

.point-group .point-exit circle {
    r: 2pt;
}

.point-group .point-exit-active circle {
    r: 0pt;
    transition: all 300ms ease-in-out;
}

