.point-group .point {
    transition: all 300ms ease-in-out;
}

.point-group .point circle.selected {
    fill: steelblue;
    r: 8;
}

.point-group .point circle {
    r: 7;
}

.point-group .point-appear circle {
    r: 0;
}

.point-group .point-appear-done circle {
    r: 7;
    transition: r 300ms ease-in-out;
}

.point-group .point-enter circle {
    r: 0;
}

.point-group .point-enter-active circle {
    r: 7;
    transition: r 300ms ease-in-out;
}

.point-group .point-exit circle {
    r: 7;
}

.point-group .point-exit-active circle {
    r: 0;
    transition: all 300ms ease-in-out;
}

