.scatterplot {
    fill: steelblue;
}

.scatterplot .highlight circle {
    r: 8;
    cursor: pointer;
}

.scatterplot .highlight.enter circle {
    r: 5;
}

.scatterplot .highlight.enter-active circle {
    r: 8;
    transition: r 300ms ease-in-out;
}

.scatterplot .highlight.exit circle {
    r: 8;
}

.scatterplot .highlight.exit-active circle {
    r: 5;
    transition: r 300ms ease-in-out;
}

.scatterplot .label {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: left;
    font-size: 12px;
    display: grid;
    transition: opacity 200ms ease-in-out;
}

.scatterplot .label-container.enter {
    opacity: 0;
}

.scatterplot .label-container.enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.scatterplot .label-contaienr.exit {
    opacity: 1;
}

.scatterplot .label-container.exit-active {
    opacity: 0;
    transition: opacity 200ms;
}

.scatterplot .label-container.exit-done {
    opacity: 0;
}



.scatterplot .label-text {
    padding: 2px 5px;
    maxWidth: 100%;
    border: 1px solid #777777;
    color: #333;
    border-radius: 2px;
    background: white;
}
